* {
    font-family: "Bebas Neue", sans-serif;
  }

  body,
  html {
    overflow: hidden;
  }

  body {
    background-color: antiquewhite;
    font-family: "Bebas Neue", sans-serif;
    overflow: hidden;
    margin: 0;
  }

  .scrolling-container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    z-index: 1;
  }

  .scrolling-content,
  .scrolling-content2,
  .scrolling-content3,
  .scrolling-content4,
  .scrolling-content5,
  .scrolling-content6,
  .scrolling-content7{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    align-items: flex-start; 
    justify-content: center;
    width: 200%;
    height: 100%;
    white-space: nowrap;
    transform: scale(1);
    transition: all 1s ease;
    z-index: 3;
  }

  .scrolling-content > div,
  .scrolling-content2 > div,
  .scrolling-content3 > div,
  .scrolling-content4 > div,
  .scrolling-content5 > div,
  .scrolling-content6 > div,
  .scrolling-content7 > div {
    display: flex;
    animation: scrollText 30s infinite linear;
  }

  .scrolling-content h1,
  .scrolling-content3 h1,
  .scrolling-content5 h1,
  .scrolling-content7 h1 {
    margin: 0;
    font-size: 40vw;
    color: black;
    transition: all 2s ease;
  }

  .scrolling-content2 h1,
  .scrolling-content4 h1,
  .scrolling-content6 h1 {
    margin: 0;
    font-size: 40vw;
    color: white;
    transition: all 2s ease;
  }

  .scrolling-content2 {
    padding-top: 35%;
  }

  .scrolling-content3 {
    padding-top: 70%;
  }

  .scrolling-content4 {
    padding-top: 105%;
  }
  .scrolling-content5 {
    padding-top: 140%;
  }
  .scrolling-content6 {
    padding-top: 175%;
  }
  .scrolling-content7 {
    padding-top: 210%;
  }

  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 25vh;
    z-index: 4;
    pointer-events: none;
  }

  .masked-content {
    mask-image: url("assets/bootapest/1.svg");
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
  }

  @media screen and (min-width: 768px) {
.scrolling-content h1,
.scrolling-content2 h1,
.scrolling-content3 h1,
.scrolling-content4 h1,
.scrolling-content5 h1,
.scrolling-content6 h1,
.scrolling-content7 h1 {
    font-size: 80px;
}

.scrolling-content,
.scrolling-content2,
.scrolling-content3,
.scrolling-content4,
.scrolling-content5,
.scrolling-content6,
.scrolling-content7 {
    transform: scale(1.5);
    padding-top: 0;
}

.scrolling-content2 {
    padding-top: 12%;
}

.scrolling-content3 {
    padding-top: 24%;
}

.scrolling-content4 {
    padding-top: 36%;
}
.scrolling-content5 {
    padding-top: 48%;
}
.scrolling-content6 {
    padding-top: 60%;
}
.scrolling-content7 {
    padding-top: 72%;
}

.overlay-image {
    height: 32vh;
}
}
