* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100%;
    font-size: 100px;
}

.row {
    align-items: center;
    height: 100%;
}

.scroll {
    padding: 4rem 0;
    color: #fff;
    background-color: #181c1e;
}

.scroll .col-lg-12 {
    text-align: left;
}

.scroll h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #3cba92;
}

.scroll .date-column .date-text,
.scroll .role-column .company-role,
.scroll .role-column .institution-role {
    font-weight: 700;
    font-size: 1.5rem;
}

.scroll .role-column p,
.scroll .about-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
}

.s-one {
    background-color: white;
    color: black;
}

.s-one .main-title {
    font-size: 7rem;
    color: #3cba92;
    line-height: 0.8;
    margin-bottom: 1rem;
}

.s-one .intro-text,
.s-one .sub-title {
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.s-one .sub-title {
    font-size: 1rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-name {
    text-align: center;
}


.circle-container {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circle-percent {
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 20px;

}


.skill-item .skill-name {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}



.scroll-control {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.scroll-control .active {
    background-color: #3cba92;
    opacity: 1; 
}


.scroll-control span {
    cursor: pointer;
    display: block;
    width: 14px;
    height: 14px;
    margin: 10px 0;
    background-color: #000;
    border-radius: 50%;
    opacity: 0.7;
}

.scroll-control span:hover {
    opacity: 1;
}

.skills-row {
    padding-bottom: 100px;
}


@media all and (max-width: 1023px) {
    .scroll-control span {
        display: none;
    }

    .container {
        padding: 0 5%;
    }

    .scroll h2 {
        font-size: 2rem;
    }

    .scroll .date-column .date-text,
    .scroll .role-column .company-role,
    .scroll .role-column .institution-role {
        font-size: 1rem;
    }

    .scroll .role-column p,
    .scroll .about-text {
        font-size: 1rem;
        padding-bottom: 10%;
    }

    .s-one .main-title {
        font-size: 5rem;
    }

    .skills-row {
        display: flex;
        flex-direction: column;
    }

    .skill-item {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 1rem;
        width: 100%;
    }

    .skill-name {
        margin-right: 10px;
        flex-shrink: 0;
    }


}
