* {
    font-family: 'Nova Square', sans-serif;
    
}

body::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 15%; /* Width of the line */
    height: 100vh; /* Full height of the viewport */
    background-color: #231f24; /* Color of the line */
    z-index: -1; /* Place it behind the content */
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

.row {
    align-items: center;
    text-align: center;
    height: 100%;
}

/* Common styles for all sections */
.scroll {
    height: 100vh; /* Full viewport height */
    min-height: 100%; /* At least full height of the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

/* Individual section styles */
.s-one {
    background-color: #414042;
}
.s-three, .s-five { background-color: rgb(255, 248, 233); color: #000; }
.s-two, .s-four { background-color: rgb(255, 255, 255);position: relative;}

/* Common styles for top and bottom rip images in both sections */
.s-four .top-rip, .s-four .bot-rip,
.s-two .top-rip, .s-two .bot-rip {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    left: 0;
    z-index: 1;
}

/* Positioning for top rip images */
.s-four .top-rip, .s-two .top-rip {
    top: 0;
}

/* Positioning for bottom rip images */
.s-four .bot-rip, .s-two .bot-rip {
    bottom: 0;
}


/* Header and content styles */
.header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

@keyframes highlightFadeIn {
    from { background-size: 0% 30px; }
    to { background-size: 100% 30px; }
}

.header.highlighted h2 {
    background-image: url('/assets/cv/brush.png');
    background-repeat: no-repeat;
    background-size: 100% 30px;
    background-position: left center;
    animation: highlightFadeIn 1s forwards;
}

.vertical-separator {
    width: 10px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    align-self: stretch;
    padding-bottom: 50px;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.header h2 {
    margin-bottom: 0;
    line-height: 1.1;
}

.content {
    padding-bottom: 4rem;
    margin: 0 10rem;
}

.content-left { text-align: left; padding-left: 0; }

.content p { font-size: 1rem; }
.content .sub-info { font-size: 0.7rem; margin-top: -1rem; }

/* Scroll control styles */
.scroll-control {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateX(-50%);
    z-index: 999;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.scroll-control i, .scroll-control .icon-svg {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    margin: 10px 0;
    opacity: 0.7;
    color: #000; /* For Font Awesome icons */
}

.sub-title {
    font-size: 2rem;
}

.scroll-control i:hover, .scroll-control .icon-svg:hover { opacity: 1; }

.home-icon.active { content: url('/assets/cv/home1.svg'); }

/* Responsive adjustments */
@media all and (max-width: 1023px) {
    .scroll-control span { display: none; }
}

@media (max-width: 768px) {
    .s-one p { font-size: 1rem; }
    .scroll-control .icon-svg { width: 20px; height: 20px; margin: 0 15px;}
    .header h2 { font-size: 1.5rem; }
    .content p, .content .sub-info { font-size: 0.9rem; }
    .scroll-control {top: 95%; flex-direction: row; align-items: center; justify-content: center; left: 50% }
    .vertical-separator { height: 5px;  margin-bottom: 10px; }
    img { max-width: 100%; height: auto; }
    input, button, select, textarea { font-size: 16px; }
    .scroll {
        height: 100%; 
    }
    .s-one { padding: 0 50px; }
    hr { width: 50%; 
    align-items: left;
    margin-left: 0;
    .sidebar {
        width: 70px;
    }

}

}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.sidebar {
    position: fixed;
    width: 140px;
    height: 100vh;
    background-color: #414042;
    display: flex;
    align-items: top;
    justify-content: center;
    z-index: 10;
    transition: opacity 0.5s ease;
}

.sidebar-image {
    max-width: 60%;
    height: auto;
    position: absolute;
    padding-top: 10%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Start with the image being transparent */
}

.home-button {
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    padding: 10px 20px; 
    background-color: transparent; 
    color: rgb(90, 90, 90); 
    border: none;
    cursor: pointer;
    text-align: center;
    transition: color 0.3s ease;
}

.home-button:hover {
    color: #acacac;

}

.info-sections-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap; /* Allows sections to stack on smaller screens */
}

.info-section {
    flex-basis: 30%; /* Each section takes up roughly a third of the container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.info-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.info-section h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.info-section p {
    color: #666;
}

.education-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap; /* Allows sections to stack on smaller screens */
}

.education-section {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.education-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-bottom: 15px;
}

.education-section h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.education-section .sub-info {
    color: #666;
}

.work-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap; /* Allows sections to stack on smaller screens */
}

.work-section {
    flex-basis: 45%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.work-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-bottom: 15px;
}

.work-section h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.work-section .sub-info {
    color: #666;
}


.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap; /* Allows sections to stack on smaller screens */
}

.skill-section {
    flex-basis: 30%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.skill-icon {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    margin-bottom: 15px;
}

.skill-section h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.skill-section .sub-info {
    color: #666;
}
